/* .header {
  background-image: url(');
  background-repeat: no-repeat; */
/* } */

.header-title {
  /* background-image: url('./../utilities/image/Trip-pana.svg');
  background-repeat: no-repeat;
  background-position: right; */
  /* line-height: 500px;
  text-align: justify; */

  /* border-bottom: 1px solid rgba(128, 128, 128, 0.863); */
}
